.btn {
  font-size: 20px;
  &--green {
    color: getColor('primary-color');
  }
}

.box1 {
  height: 10rem;
  width: 10rem;

  background-color: getColor(primary-color);
}

.box2 {
  height: 10rem;
  width: 10rem;

  background-color: getColor(blue-color);
}