.container {
  max-width: 120rem;
  margin: 0 auto;
  // background-color: #fff;
  // min-height: 100%;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
}